<div class="sidebar-v2">
  <div class="sidebar-header">
    <img src="/img/logo.png" alt="Logo" class="sidebar-logo" />
    <span class="sidebar-titol">CENTRE D'ESTUDIS</span>
  </div>

  <nav class="sidebar-menu">
    <!-- Inici depenent del rol -->
    <a [routerLink]="homeLink()" routerLinkActive="activa" [routerLinkActiveOptions]="{ exact: false }"
      class="sidebar-link">
      <span class="material-icons">dashboard</span>
      <span class="link-text">Inici</span>
    </a>

    @if (rol() === 'profe' || rol() === 'admin') {
    <a routerLink="/llista-assignatures" routerLinkActive="activa" class="sidebar-link">
      <span class="material-icons">auto_stories</span>
      <span class="link-text">Assignatures</span>
    </a>
    }

    @if (esTutor()) {
    <a routerLink="/gestio-inscrits" routerLinkActive="activa" class="sidebar-link">
      <span class="material-icons">assignment_ind</span>
      <span class="link-text">Gestió Inscrits</span>
    </a>
    }

    @if (rol() === 'profe' || rol() === 'admin') {
    <a routerLink="/llista-classe" routerLinkActive="activa" class="sidebar-link">
      <span class="material-icons">groups</span>
      <span class="link-text">Llista Classe</span>
    </a>

    <a routerLink="/llista-faltes" routerLinkActive="activa" class="sidebar-link">
      <span class="material-icons">history_toggle_off</span>
      <span class="link-text">Gestió Faltes</span>
    </a>
    }

    @if (esTutor() && rol() !== 'admin') {
    <a routerLink="/horari-alumnes" routerLinkActive="activa" class="sidebar-link">
      <span class="material-icons">calendar_month</span>
      <span class="link-text">Horari Alumnes</span>
    </a>
    }

    @if (rol() === 'alumne') {
    <a routerLink="/alumnes/horaris" routerLinkActive="activa" class="sidebar-link">
      <span class="material-icons">description</span>
      <span class="link-text">Justificar Faltes</span>
    </a>
    }
  </nav>

  <div class="sidebar-footer">
    <a routerLink="/profile" routerLinkActive="activa" class="sidebar-link profile-link">
      <span class="material-icons">account_circle</span>
      <span class="link-text">El Meu Perfil</span>
    </a>
    <button (click)="logout()" class="sidebar-link logout-btn">
      <span class="material-icons">logout</span>
      <span class="link-text">Sortir</span>
    </button>
  </div>
</div>